* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn_card {
  width: 199px;
  height: 50px;
  margin: 30px auto;
  background-color: #e17334;
  border-radius: 12px;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.btn_twitter {
  display: block;
  margin: 10px auto 30px auto;
  width: 181px;
  height: 30px;
  background-color: #00a0f5;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  color: #fff;
  cursor: pointer;
}

.btn_arrow {
  width: 16px;
  height: 18px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
}

.color-palette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.label-design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.palette-box {
  width: 30px;
  height: 25px;
}

.colorp1 {
  background-color: #114e4e;
}

.colorp2 {
  background-color: #438792;
}

.colorp3 {
  background-color: #a2deaf;
}

.colorp4 {
  background-color: #420101;
}

.colorp5 {
  background-color: #bd1010;
}

.colorp6 {
  background-color: #e95626;
}

.colorp7 {
  background-color: #3e5b65;
}

.colorp8 {
  background-color: #dfe5eb;
}

.colorp9 {
  background-color: #a0c0cf;
}

.share_header {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.share_icon_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.share_icon {
  color: #e17334;
}

.share_title {
  margin: 0;
  padding-left: 12px;
}

.icon-style-small {
  font-size: 18px;
  color: #e17334;
}

.icon-style-large {
  font-size: 28px;
  color: #e17334;
  text-align: center;
}

.text-style-small {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #114e4e;
}

.text-style-regular {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 16px;
  color: #54585a;
  text-align: center;
}

.text-style-semibold {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.text-style-large {
  font-family: "Merriweather", serif;
  font-size: 19px;
  font-weight: 700;
  color: #e17334;
  text-align: center;
}

.form_header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 40px;
}

.awesome_header {
  width: 201px;
  height: 51px;
  margin: 30px 0;
  background-image: url("../images/awesome-profile-cards-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

p {
  margin: 0;
}

.footer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer_content {
  padding-bottom: 20px;
  text-align: center;
  border-top: 1px solid #d8d8d8;
}

.copyrigth {
  padding-top: 20px;
  padding-bottom: 10px;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 457px;
  background: -webkit-gradient(linear, left top, left bottom, from(#bfcdd0), to(#dde9ed));
  background: linear-gradient(#bfcdd0, #dde9ed);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section1_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 367px;
  width: 240px;
  background-color: #fff;
}

.boton_reset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 75px;
  border: 1px solid #fff;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 45px;
  margin-bottom: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.personal_info {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.card_created {
  text-align: center;
}

.card_created_title {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 5px;
}

.card_link {
  text-decoration: none;
  color: #e17334;
}

/*# sourceMappingURL=main.css.map */
