* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: $font-primary;
  color: $color-medium-dark-dark;
}

.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
<<<<<<< HEAD

=======
}

a {
  text-decoration: none;
>>>>>>> 9c4b2a3e401b25829f57342f14ca7efa2435f0ce
}
