.wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

.section1 {
  display: flex;
  flex-direction: column;
  height: 457px;
  background: linear-gradient($color-gradient-dark, $color-gradient-light);
  align-items: center;
}

.section1_container {
  display: flex;
  flex-direction: column;
  height: 367px;
  width: 240px;
  background-color: $color-light;

}

.boton_reset {
  display: flex;
  height: 30px;
  width: 75px;
  border: 1px solid $color-light;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 45px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.personal_info {
  justify-content: center;
  text-align: center;
}

.card-created {
  margin-bottom: 30px;
  border-bottom: 1px solid $color-medium-light;
  text-align: center;
}

.card-created__title {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 5px;
}

.card-link {
  color: $color-primary;
}
