.wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

.section1 {
  display: flex;
  flex-direction: column;
  height: 457px;
  background: linear-gradient($color-gradient-dark, $color-gradient-light);
  align-items: center;
}

.section1_container {
  display: flex;
  flex-direction: column;
  height: 367px;
  width: 240px;
  background-color: $color-light;
}

.titles_container {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 15px;
  border-left: 5px solid $color-paleta1-terciary;
}

.personal_info {
  justify-content: center;
  text-align: center;
}

.card-created {
  margin-bottom: 30px;
  border-bottom: 1px solid $color-medium-light;
  text-align: center;
}

.card-created__title {
  margin: 0;
  text-transform: none;
  padding-top: 20px;
  padding-bottom: 5px;
}

.card-link {
  color: $color-primary;
}
