.footer {
  background-color: $color-light;
  width: 100vw;
  align-self: flex-end;
}

.footer__content {
  padding-bottom: 20px;
  text-align: center;
  border-top: 1px solid $color-medium-light;
}

.footer__copyrigth {
  padding-top: 20px;
  padding-bottom: 10px;
}
