.boton_reset {
  display: flex;
  height: 30px;
  width: 75px;
  border: 1px solid $color-light;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 45px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-around;
  align-self: flex-start;
}

.boton_reset-text {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
}

.btn-card {
  width: 199px;
  height: 50px;
  background-color: $color-primary;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  color: $color-light;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: color ease 0.1s;
  &:active {
    background-color: $color-submit-button;
  }
}

.btn-card--position {
  margin: 30px auto;
}

.btn-twitter {
  width: 181px;
  height: 30px;
  background-color: $color-twitter-button;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  color: $color-light;
  cursor: pointer;
  align-items: center;
}

.btn-twitter--position {
  display: block;
  margin: 10px auto 30px auto;
}

.btn-arrow {
  width: 16px;
  height: 18px;
  background-color: $color-light;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
