// FORMULARIO DISEÑA

.title-header {
  display: flex;
  justify-content: space-between;
  padding: 27px 20px 0px 20px;
}

.icon__primary--medium {
  padding-right: 10px;
}

.design__container {
  margin: 25px 20px 30px 40px;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.item-container--color {
  margin-bottom: 36px;
}

.radio-container {
  display: flex;
  flex-direction: column;
}

.label-design {
  margin-left: 4px;
}

.palette {
  display: flex;
  align-items: center;
}

.palette--margin {
  margin-bottom: 20px;
}

.font {
  display: flex;
  align-items: center;
}

.font--margin {
  margin-bottom: 9px;
}

.label-design {
  display: flex;
}

.palette-box {
  width: 30px;
  height: 25px;
}

.colorp1 {
  background-color: $color-paleta1-primary;
}

.colorp2 {
  background-color: $color-paleta1-secondary;
}

.colorp3 {
  background-color: $color-paleta1-terciary;
}

.colorp4 {
  background-color: $color-paleta2-primary;
}

.colorp5 {
  background-color: $color-paleta2-secondary;
}

.colorp6 {
  background-color: $color-paleta2-terciary;
}

.colorp7 {
  background-color: $color-paleta3-primary;
}

.colorp8 {
  background-color: $color-paleta3-secondary;
}

.colorp9 {
  background-color: $color-paleta3-terciary;
}

// FORMULARIO COMPARTE

.share_header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.share_icon_title {
  display: flex;
  flex-direction: row;
}

.share_icon {
  color: $color-primary;
}

.share_title {
  margin: 0;
  padding-left: 12px;
}
