.color-palette {
  display: flex;
  align-items: center;
}

.label-design {
  display: flex;
}

.palette-box {
  width: 30px;
  height: 25px;
}

.colorp1 {
  background-color: $color-paleta1-primary;
}

.colorp2 {
  background-color: $color-paleta1-secondary;
}

.colorp3 {
  background-color: $color-paleta1-terciary;
}

.colorp4 {
  background-color: $color-paleta2-primary;
}

.colorp5 {
  background-color: $color-paleta2-secondary;
}

.colorp6 {
  background-color: $color-paleta2-terciary;
}

.colorp7 {
  background-color: $color-paleta3-primary;
}

.colorp8 {
  background-color: $color-paleta3-secondary;
}

.colorp9 {
  background-color: $color-paleta3-terciary;
}

.share__header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.share__icon-title {
  display: flex;
  flex-direction: row;
}

.share__icon {
  color: $color-primary;
}

.share__title {
  margin: 0;
  padding-left: 12px;
}
